*{
    transition-duration: 0.8s;
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #05093b;
}
body{
background-image: linear-gradient(to top, #F7FBFC, #769FCD);
margin: 0;
padding: 0;
overflow-x: hidden;
}
div{
width: 100%;
height: 100vh;
font-size: 32px; 
}


.header{
    margin: 0;
    background: url("./background.png") center/cover no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-inline-size: 100%;
    block-size: auto;
    width: 100%;
    height: 910px;
    padding: 10px;
}
h1{
    font-size: 48px;
    font-weight: 10px;
}

.contents1{
    font-size: 13px;
    font-weight: lighter;
    letter-spacing:5px;
    line-height : 23px;
}   

.button {
    top: 25px;
	position: relative;
	z-index: 2;
	background-color: #191f6b;
	border: 2px solid #191f6b;
    text-shadow: 2px 2px 2px #b4b3b3 ;
	color: #fff;
	line-height: 45px;
    width: 150px;
    font-size: 23px;
    box-shadow: 2px 2px 2px #282764 ;
    border-radius: 10px;
    left: 235px;
    
}
.button:hover {
	background-color: #fff;
	border-color: #191f6b;
	color: #191f6b;
}
.button::before,
.button::after {
	top: 0;
	width: 50%;
	height: 100%;
	background-color: #333;
}
.button::before {
	right: 0;
}
.button::after {
	left: 0;
}
.button:hover::before,
.button:hover::after {
	width: 0;
	background-color: #191f6b;
}

a{
    color: #769FCD;
    text-shadow: 3px 3px #c0d6f1 ;
    height: 10px;
    padding: 30px;
    padding-top: 100px;
}

h1 {
    color: #0c0c80;
    text-shadow: 3px 3px 3px #d3d3fa ;
    width: 100%;
    height: 7%;
    padding-top: 280px;
    padding-left: 230px;
    font-size: 70px;
}
.contents1 {
    color: black;
    text-shadow: 2px 2px 2px #c0c0c0 ;
    padding-top: 45px;
    padding-left: 240px;
    font-size: 15px;
}

/*main_text*/

h2 {
    font-size: 70px;
    text-shadow: 5px 5px #769FCD ;
    letter-spacing: 10px;
    padding-top: 50px;
    text-align: center;
    color: #F7FBFC;
}

.contents2 {
    text-shadow: 4px 4px 4px #769FCD ;
    color: #F7FBFC;
    padding-top: 5px;
    text-align: center;
    font-size: 40px;
}

.main_text{
    width: 100%;
    height: auto;
    background-color: #cbcbf8;
}



.main_text > h1{
    text-align: center;
}

.main_text > .contents1 {
    text-align: center;
    
}

.icons {
    display: flex;
    width: 1280px;
    height: 350px;
    margin: auto;
}

.icons > li {
    box-shadow: 10px 10px 5px #4f6986;
    border-radius: 30px;
    flex: 1;
    height: 290px;
    flex: 1;
    margin-top: 49px;
    background: white;
    text-align: center;
}

.icons > li > .icon_bus {
    margin-top: 55px;
}
.icons > li > .icon_lunch {
    margin-top: 55px;
}
.icons > li > .icon_notice {
    margin-top: 55px;
}

.icons > li:not(:last-child){
    margin-right: 20px;
}

.icons .contents3 {
    margin : auto ;
    letter-spacing: 5px;
    
}
.icons1 {
    display: flex;
    width: 1280px;
    height: 500px;
    margin: auto;
}

.icons1 > li {
    box-shadow: 10px 10px 5px #4f6986;
    border-radius: 30px;
    flex: 1;
    height: 290px;
    flex: 1;
    margin-top: 49px;
    background: white;
    text-align: center;
}

.icons1 > li > .icon_phone {
    margin-top: 55px;
}
.icons1 > li > .icon_coments {
    margin-top: 55px;
}
.icons1 > li > .icon_setting {
    margin-top: 55px;
}

.icons1 > li:not(:last-child){
    margin-right: 20px;
}

.icons1.contents3 {
    margin : auto ;
    letter-spacing: 5px;
    
}
@media (max-width:600px) {
    .icons .icons1{
        display: block;
    }
}

.contents1_bold {
    color: rgb(10, 5, 61);
    font-weight: bold;
    padding-top: 20px;
    font-size: 23px;
}

.contents3 {
    padding-top: 10px;
    font-size: 17px;
}

.footer{ 
    text-shadow: 2px 2px 2px #c0c0c0 ;
    font-size: 25px;
    position: absolute;
    bottom: -1850px;
    display: flex;
    background: #769FCD;
    padding:100px;
    padding-right: 1100px;
}
.footer > p:first-child {
    flex:3;
    text-align: left;
    color: #fff;
}
.footer > p:last-child {
    flex:9;
    color: #fff;
}