* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
    
}

h1{
    font-size: 48px;
}
.contents1{
    font-size: 18px;
    letter-spacing:5px;
    line-height : 35px;
}   

.intro_bg{
    margin: 0;
    background-image:url("background.png") ;
    width: 100%;
    height: 718px;
}

.title{
    width:300px;
    height:40px;
    border-radius: 5px;
    margin-top: 24px;

}

.header{
    display: flex;
    width: 1280px;
    margin: auto;
    height: 86px;
}

.nav{
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width: calc(1280px - 300px);
    color: #000;
}

.nav > li {
    margin-left: 84px;
}

.nav > li > a{
    color: #000;
}

.intro_text{
    width: 100%;
    margin: 232px auto 232px 15%;
    text-align: left;
    
}
.intro_text > h1,
.intro_text > h4{
    color: rgb(39, 39, 39);
}