body {
    overflow-x: hidden; overflow-y: auto;
    background: #f2f2f3 ;
}
* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
    
}

h1{
    font-size: 48px;
    font-weight: 10px;
}
.contents1{
    font-size: 13px;
    font-weight: lighter;
    letter-spacing:5px;
    line-height : 23px;
}   

.button {
    background-color: rgb(71, 68, 255);
    color: white;
    border: 0;
    outline: 0;
}

.contents2 {
    font-size: 18px;
    font-weight: 50;
    
}

.contents1_bold{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;

}

.intro_bg{
    margin: 0;
    background: url("./background.png") center/cover no-repeat;
    width: 100%;
    height: 910px;
    padding: 10px;
    animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.title{
    width:100px;
    height:5%;
    border-radius: 5px;
    margin-top: 24px;
    overflow-y: hidden;
    display: block;

}

.header{
    display: flex;
    width: 1280px;
    margin: auto;
    height: 100%;
}

.nav{
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width: calc(1280px - 300px);
    color: #000;
}

.nav > li {
    margin-left: 84px;
}

.nav > li > a{
    color: #000;
}

.intro_text{
    width: 100%;
    margin: -600px auto 632px 15%;
    text-align: left;
    
}
.intro_text > h1,
.intro_text > h4{
    color: rgb(39, 39, 39);
}

/*main_text*/

.main_text{
    width: 100%;
    height: 601px;
    background-color: #f2f2f3;
}

.main_text > h1{
    
    text-align: center;
}

.main_text > .contents1 {
    text-align: center;
    
}

.icons {
    background: #f2f2f3 ;
    display: flex;
    width: 1280px;
    height: 350px;
    margin: auto;
}

.icons > li {
    flex: 1;
    height: 290px;
    flex: 1;
    margin-top: 49px;
    background: white;
    text-align: center;
}

.icons > li > .icon_bus {
    margin-top: 55px;
}
.icons > li > .icon_lunch {
    margin-top: 55px;
}
.icons > li > .icon_notice {
    margin-top: 55px;
}

.icons > li:not(:last-child){
    margin-right: 20px;
}

.icons .contents3 {
    margin : auto ;
    letter-spacing: 5px;
    
}
.icons1 {
    background: #f2f2f3 ;
    display: flex;
    width: 1280px;
    height: 500px;
    margin: auto;
}

.icons1 > li {
    flex: 1;
    height: 290px;
    flex: 1;
    margin-top: 49px;
    background: white;
    text-align: center;
}

.icons1 > li > .icon_bus {
    margin-top: 51px;
}
.icons1 > li > .icon_lunch {
    margin-top: 55px;
}
.icons1 > li > .icon_notice {
    margin-top: 55px;
}

.icons1 > li:not(:last-child){
    margin-right: 20px;
}

.icons1.contents3 {
    margin : auto ;
    letter-spacing: 5px;
    
}

.footer{
    display: flex;
    background: #1f1f1f;
    padding:30px;
}
.footer > div:first-child {
    flex:3;
    text-align: center;
    color: #fff;
}
.footer > div:last-child {
    flex:9;
    color: #fff;
}
